.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading div{
    background-color: rgba(39, 39, 39, 0.274);
    height: 1px;
    width: 30vw;
}
.heading p{
    color: rgb(27, 27, 27);
    margin: 3vmax;
    font-size: 2.6vmax;
    font-weight: 200;
   
}